/* Resets */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset-img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
hr{display:none;}
img{border:none;}
em{font-style:normal;}
/*strong{font-weight:normal;}*/
fieldset{border:none;}
*{outline:none;}
/* General Tags */
body{font-size:11px;line-height:1.5em;}

body,
input,
select,
textarea{color:#333;font-family: "Trebuchet MS", Arial, Verdana, Geneva, sans-serif}

input[type="text"],
input[type="password"],
select, 
textarea {
	border: none;
	font-size: 12px;
	padding: 5px;
	box-shadow: inset 2px 2px 2px #BEBEBE;
	width: 350px;
}

input.dia, input.mes {
	width: 30px;
	text-align: center;
}

input.ano {
	width: 50px;
	text-align: center;
}

a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

#textContent h3{font-weight:700;margin-bottom:17px;}

/*****************************************************************************************************
/****************************************************************************************************/
/****************************************************************************************************/
/* Top Bar */
#topBar {
	line-height: 2;
	right: 0;
	clear: both;
	float: left;
	width: 100%;
}
#topBar div {
	overflow: auto;
	width: auto;
	margin: 0 auto;
}
#topBar .ajax-content-loader,
#topBar .ajax-content-loader div{color:#999;float:left;padding-top:0;width:auto;}

#topBar p {
	float: left;
}

#topBar p, #topBar a {
	color: black;
	font-size: 12px;
}

#topBar p,
#topBar .ajax-content-loader div{margin-left:12px;}
#topBar p a,
#topBar .ajax-content-loader a{margin-left:4px;text-decoration:underline;}
#topBar strong{font-weight:normal;}

#topBar ul{float:left;margin-right:5px;}
#topBar ul li{float:left;}
#topBar ul li a{background:url("/arquivos/tabs-bg.gif") right 2px no-repeat;color:#666;padding:0 7px}
#topBar ul li.last a{background:none;}

#topBar .welcome {
	margin-left: 0;
	float: left;
	overflow: hidden;
	padding:0;}

#divMenuWelcome {
	width:430px;
	text-align:right;
}

#topBar #links_topBar {
	float: left;
	width: 310px;
	margin: 0 20px;
	padding: 0;
}

#topBar #televendas {
	float: left;
	width: 135px;
	padding: 0 5px 0 30px;
	background: url('/arquivos/sprite_icons.png') no-repeat -245px -3px;
	border-left: solid 1px #CCC;
}

#topBar #links_topBar {
	float: left;
	width: auto;
	margin: 0 0 0 15px;
	padding: 0 0 0 5px;
	border-left: solid 1px #CCC;
}

#topBar #facebook_header {
	float: left;
	width: 115px;
	padding: 0;
	margin-left: 10px;
}

#topBar #facebook_header .fb-like,
#topBar #facebook_header .fb-like span,
#topBar #facebook_header .fb-like iframe {
	width: 115px!important;
}

#pnlNaoSeguro a#lnkLogOut{color:#999;margin:0;}

/* Title and Cart */

#wrapHeader{
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdfdfd 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}

#header {
	overflow: hidden;
	position: relative;
	width: 975px;
	margin: 0 auto;
}

#header h1 {
	float: left;
	margin: 10px 0 10px 0;
}

#title a {
	float: left;
	height: 97px;
	width: 137px;
	background: url(/arquivos/logo_sun_house.png) no-repeat top center;
}

#icons_header {
	color: #F18300;
	font-size: 14px;
	float: left;
	margin: 45px 0 0 45px;
}

#icons_header a {
	color: #F18300;
}

#icons_header li {
	float: left;
	background: url(/arquivos/sprite_icons.png) no-repeat;
}

#icons_header li.nossas_lojas {
	background-position: 0 -2px;
	width: 55px;
	height: 48px;
	padding-left: 60px;
	margin-right: 40px;
}

#icons_header li.compra_gratuita {
	background-position: 0 -64px;
	width: 80px;
	height: 44px;
	padding-left: 45px;
	margin-right: 40px;
}

#icons_header li.lsita_de_desejos {
	background-position: -1px -130px;
	width: 55px;
	height: 36px;
	padding-left: 44px;
}

#title a:hover{text-decoration:none;}
#title a span{display:none;}

#header #cart {
	position: absolute;
	right: 10px;
	top: 15px;
}

#header #search {
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(/arquivos/bg_busca.png) no-repeat top center;
	width: 339px;
	height: 27px;
	padding: 7px 0 13px 8px;
}

#header #search input {
	margin: 0;
}

#header #search input[type="text"] {
	margin: 0px 0 0 33px;
	padding: 10px;
	width: 242px;
	background: none;
	border: none;
	float: left;
	box-shadow: none;
}

#header #search input[type="button"] {
	padding: 0;
	height: 35px;
	background: none;
	border: none;
	display: block;
	text-indent: -99999px;
	cursor: pointer;
	width: 38px;
	float: left;
	line-height:0px;
	font-size:0px;
}

/* Menu */
#menu{
	clear:both;
	border-top: 3px solid #FFA139;
	border-bottom: 5px solid #F18300;
	height: 44px;
	background: #ffb858; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb858 0%, #ff952f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb858), color-stop(100%,#ff952f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb858 0%,#ff952f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb858 0%,#ff952f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb858 0%,#ff952f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb858 0%,#ff952f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb858', endColorstr='#ff952f',GradientType=0 ); /* IE6-9 */
}

#menu a {
	color: #333;
}

#menu ul {width:990px; margin:0 auto;}

#menu ul li{float:left;}

#menu ul li a{
	background-position:right -70px;
	color: #fff;
}

#menu ul li a, #linkVipClub {
	float: left;
	padding: 14px 23px;
	font-size: 15px;
	border-right: solid 1px #F18300;
	border-left: solid 1px #FFA139;
}

#menu ul li a:hover {
	text-decoration: none;
	background: #EA7F00;
	box-shadow: inset -1px 3px 5px #C46B00;
	-moz-box-shadow: inset -1px 3px 5px #C46B00;
	-o-box-shadow: inset -1px 3px 5px #C46B00;
	-webkit-box-shadow: inset -1px 3px 5px #C46B00;
	-ms-box-shadow: inset -1px 3px 5px #C46B00;
}

#header #search label, #header #search select {
	display: none;
}
/****************************************************************************************************/
/* Footer */

.footer {
	margin-top: 10px;
	float: left;
	width: 100%;
}

#top_bar_footer {
	clear: both;
	width: 100%;
	height: 32px;
	background: url(/arquivos/bg_top_footer.png) repeat top center;
	margin: 0;
	padding: 0;
}

#wrap_top_footer {
	width: 100%;
	height: 70px;
	background: #E5E7E7;
	border-bottom: solid 1px #CCC;
	margin-bottom: 1px;
}

#footer_newsletter, #footerSearch {
	width: 970px;
	margin: 0 auto;
	position: relative;
}

#footer_newsletter fieldset {
	padding-top: 4px;
}

#footer_newsletter > p {
	float: left;
	width: 330px;
	font-size: 22px;
	line-height: 1;
	padding: 10px 20px 0 10px;
}

#footer_newsletter > p span{
	color: #db6500;
}

#footer_newsletter fieldset p, #footer_newsletter .newsletter-title {
	display: none;
}

#footer_newsletter #newsletterClientName, #footer_newsletter #newsletterClientEmail {
	font-size: 18px;
	width: 435px;
	clear: both;
	margin: 3px 0 3px 0;
	border: none;
}

#footer_newsletter #newsletterButtonOK {
	width: 113px;
	height: 49px;
	background: url('/arquivos/sprite_icons.png') no-repeat -259px -91px;
	border: none;
	display: block;
	text-indent: -99999px;
	cursor: pointer;
	position: absolute;
	right: 35px;
	top: 10px;
	line-height:0px;
	font-size:0px;
}

#wrapFooterSearch {
	width: 100%;
	height: 65px;
	background: #E5E5E5;
	border-bottom: solid 1px #ccc;
	margin-bottom: 1px;
}

#wrapFooterSearch fieldset {
	padding-top: 13px;
}

#footerSearch legend, #footerSearch label {
	display: none;
}

#wrapFooterSearch fieldset select, #wrapFooterSearch fieldset input {
	padding: 5px;
	border: none;
	font-size: 18px;
}

#wrapFooterSearch fieldset select {
	width: 320px;
}

#wrapFooterSearch input[type="text"] {
	width: 455px;
	box-shadow: none;
}

#wrapFooterSearch input[type="button"] {
	width: 113px;
	height: 49px;
	background: url('/arquivos/sprite_icons.png') no-repeat -259px -146px;
	border: none;
	display: block;
	cursor: pointer;
	text-indent: -99999px;
	position: absolute;
	right: 35px;
	top: 10px;
	line-height:0px;
	font-size:0px;
}

#wrap_center_footer {
	width: 100%;
	height: 180px;
	background: #E5E7E7;
	border-bottom: solid 1px #CCC;
	margin-bottom: 1px;
}

#center_footer {
	width: 970px;
	margin: 0 auto;
}

#center_footer .itemGroup h3 {
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	color: #DB6500;
	padding: 10px 0;
}

#center_footer .itemGroup li {
	font-size: 14px;
	padding: 2px 0;
	line-height: 1;
}

#center_footer #footerAjudaSuporte {
	width: 195px;
	margin-left: 10px;
}

#center_footer #footerInstitucional {
	width: 160px;
}

#center_footer #footerServicos {
	width: 190px;
}

#center_footer #footerVejaTambem {
	width: 240px;
}

#center_footer div {
	float: left;
}

#wrap_contato_footer {
	width: 100%;
	height: 55px;
	background: #E5E7E7;
	border-bottom: solid 1px #CCC;
	margin-bottom: 1px;
	text-align: center;
	padding-top: 5px;
}

#wrap_contato_footer p {
	font-size: 14px;
	line-height: 24px;
}

#wrap_bottom_footer {
	width: 100%;
	height: 180px;
	background: #E5E7E7;
	font-size: 14px;
}


#wrap_bottom_footer #bottom_footer div {
	width: 230px;
}

#wrap_bottom_footer #bottom_footer div#parceirsos {
	width: 155px;
}

#bottom_footer {
	width: 970px;
	margin: 0 auto;
	padding: 25px 0 0 0;
}

#wrap_bottom_footer #bottom_footer div#formas_de_pagamento {
	margin-right: 5px;
	width: 380px;
}

#bottom_footer div {
	float: left;
	background: none;
}

#wrap_bottom_footer #bottom_footer div#redes_sociais {
	width: 175px;
	margin-left: 20px;
}

#wrap_bottom_footer #bottom_footer div #bandeiras {
	background: url('/arquivos/sprite_icons.png') no-repeat 0 -545px;
	width: 360px;
	height: 65px;
	margin-top: 10px;
	position: static;
}

#wrap_bottom_footer #bottom_footer #redes div {
	width: auto;
	margin: 10px 5px 0 0;
}

#wrap_bottom_footer #redes_sociais #facebook a {
	background: url('/arquivos/sprite_icons.png') no-repeat -227px -213px;
	width: 38px;
	height: 37px;
	display: block;
}

#wrap_bottom_footer #redes_sociais #twitter a {
	background: url('/arquivos/sprite_icons.png') no-repeat -271px -213px;
	width: 38px;
	height: 37px;
	display: block;
}

#wrap_bottom_footer #redes_sociais #youtube a {
	background: url('/arquivos/sprite_icons.png') no-repeat -314px -212px;
	width: 38px;
	height: 37px;
	display: block;
}

#wrap_bottom_footer #redes_sociais #wordpress a {
	background: url('/arquivos/sprite_icons.png') no-repeat -361px -212px;
	width: 38px;
	height: 37px;
	display: block;
}

#wrap_bottom_footer #parceirsos #logos {
	background: url('/arquivos/sprite_icons.png') no-repeat -14px -319px;
	width: 151px;
	height: 87px;
	margin-top: 10px;
}

#wrap_bottom_footer #seguranca_garantida #selos {
	background: url('/arquivos/sprite_icons.png') no-repeat -228px -280px;
	width: 185px;
	height: 101px;
	margin-top: 10px;
}
/****************************************************************************************************/

/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/

.mainContentWrapper .header h1, .mainContentWrapper h2 {
	display: none;
}

/* Image Replacement */
.imgRp{display:block;text-indent:-999em;}

/* Forms submit buttons */
.bt{background:#f0f0f0;border:1px solid #999;cursor:pointer;}

.content .bt {
	font-size: 18px!important;
	background: url('/arquivos/btn_orange.jpg');
	width: auto;
	border: none;
	color: white;
	text-align: center;
	padding: 6px 15px;
	text-decoration: none!important;
}

.content .bt a{
	text-decoration:none;
	color: white;
}

.bts span,
.bts li{float:left;margin-right:10px;}

/* Hidden items */
.history,
.bottomSearchWrapper{display:none;}

/* Layout */
#aspnetForm{margin:0 auto;position:relative;width:986px;}

.steps {
	background: url('/arquivos/sprite_legado.png') no-repeat;
	float: left;
	width: 799px;
	height: 97px;
	display: block;
	text-indent: -99999px;
	position: relative;
	top: 45px;
	margin: 0 0 50px 20px;
}

.login div.steps {
	background-position: -3px -280px;
}

.checkout.endereco-compra .steps {
	background-position: -6px -406px;
}

.forma-pagamento .steps {
	background-position: -6px -540px;
}

.confirmacao-compra .steps {
	background-position: -6px -671px;
}

/* Top Bar */
#divMenuUsuario{display:none;}
.header div div{font-size:10px;overflow:auto;position:absolute;top:2px;width:100%;}
.header div div div{overflow:auto;padding-top:2px;}
.header div div .ajax-content-loader,
.header div div .ajax-content-loader div{color:#999;float:left;padding-top:0;width:auto;}
.header div div p{color:#999;float:left;}
.header div div p,
.header div div .ajax-content-loader div{margin-left:12px;}
.header div div p a,
.header div div .ajax-content-loader a{margin-left:4px;text-decoration:underline;}
.header strong{font-weight:normal;}

.servicos{font-size:10px;position:absolute;right:5px;top:2px;}
.servicos li{float:left;}
.servicos li a{background:url("/arquivos/tabs-bg.gif") right 2px no-repeat;color:#666;padding:0 7px}
.servicos li.last a{background:none;}

/* Title and Cart */




/* Search */
.searchWrapper {
	padding: 5px;
}
.search select{margin-left:8px;}
.search legend{display:none;}
.search label{color:#7a7a7a;float:left;font-size:10px;font-weight:700;}
.search .fitext{margin:0 4px 0 2px;width:216px;}

/* Titulo da pagina */
.content h2,
.minha-conta .area-3-2-3 h3{color:#353535;font-size:27px;line-height:1.5em;margin:15px 0;text-transform:uppercase;}

.forma-pagamento .mainContentWrapper h2 {font-weight: 700;
	display:block;
	padding: 0 0 5px;
	border-bottom: dotted 2px #9F9F9F;
	color: #f18300;
	font-size: 18px;
	margin-bottom: 10px;
}

.forma-pagamento .content h3 {
	border: none!important;
	font-size: 16px!important;
	margin-top: 20px;
}

/* ---------------------- */
/* General Pages Elements */
/* ---------------------- */

/* Content Layout */
.login .content, .cadastro-cliente .content, .manutencao-conta .content, .checkout .content {
	float: left;
	width: 931px;
	margin-left: 7px;
}

/* Modals */
#TB_iframeContent{background:#fff;}
#TB_overlay{background:#000;opacity: .7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;}

/* Titles */
.cadastro-cliente legend, 
.manutencao-conta legend, 
.lista-endereco legend, 
.manutencao-conta h3, 
.cadastro-endereco h3, 
.checkout .content h3, 
.tabela-pedidos h3,
.meus-dados h4,
.minha-conta .area-3-2-10 h3 {
	font-weight: 700;
	padding: 15px 0 5px;
	border-bottom: dotted 2px #9F9F9F;
	color: #DB6500;
	font-size: 18px;
	margin-bottom: 10px;
	width: 100%;
}

.lista-endereco legend {
	width: 100%;
}

.content .tabela-pedidos h3 {
	padding-top: 40px;
	margin-bottom: 20px;
}

.pagamento-endereco legend {
	border-bottom: dotted 2px #9F9F9F;
	width: 100%;
	color: #f18300;
	font-size: 18px;
	padding: 0 0 5px;
	margin-bottom: 10px;
	line-height: 1;
}

/* Form Groups */
.login .grp,
.cadastro-cliente .grp,
.cadastro-endereco .grp,
.manutencao-conta .grp,
.meus-pedidos .grp,
.minha-conta .grp,
.nao-altera{margin-top:5px;overflow:hidden;}

/* Form Labels */
.login label, 
.cadastro-cliente 
.content label, 
.cadastro-endereco label, 
.manutencao-conta .content label, 
.endereco-compra .content label, 
.minha-conta .content label, 
.nao-altera span {
	float: left;
	margin-top: 2px;
	width: 215px;
	font-size: 14px;
}

.isento label {
	*float: none;
}

/* Form Items Margin */
.register-info .bt,
.login .continuar,
.cadastro-cliente .continuar-usuario,
.minha-conta .outras-opcoes ul,
.minha-conta .btw,
.meus-pedidos .ok,
.bts{margin-bottom:20px;margin-top:16px;overflow:hidden;}



/* Form Buttons */
.bts .bt, 
.pagamento .bt, 
.voltar a, 
.confirmar-pedido input, 
.cadastrar-novo a {
    padding: 8px 15px;
}

.forma-pagamento .bt.fibutton {
	padding: 5px 15px;
}

/* Form Links */
.login .grp a,
.cadastro fieldset a,
.cadastro-endereco a,
.alterar-email a,
.success a,
.addPhoto a,
.alterar-senha fieldset a,
.informacoes-conta a{text-decoration:underline;}

/* Links with button appearance */
.register-info .bt,
.bts a,
.voltar a,
.cadastrar-novo a,
.continuar-comprando a{display:block;float:left;padding:10px;text-decoration:none !important;width:auto;}

/* Back and link buttons */
.voltar a,
.voltar input,
.address-list .bts a{background:none;border:none;color:inherit;padding:0;text-decoration:underline !important;width:auto !important;}

/* ---------------------------------- */
/* Login / Sign Up / Shipping Address */
/* ---------------------------------- */
.aviso-erro {
	background: #fff;
	margin: 5px 0;
	padding: 12px;
	text-align: center;
	border: solid 1px #999;
}

.login .content h4 {
	font-weight: 700;
	margin-bottom: 16px;
	color: #F18300;
	font-size: 18px;
}

.login .content .wrapper p {
	display: none;
}

#ctl00_Conteudo_divLogin {
	width: 410px;
	border-right: 2px dotted #999;
	float: left;
}

.login label {
	width: 174px;
	float: left;
	clear: both;
}
.login .grp{margin-top:10px;}
.login .grp ul, .login .continuar {
	margin-left: 10px;
}

.login .fitext {
	width: 340px;
	float: left;
	clear: both;
	padding: 5px;
	border: none;
	box-shadow: inset 2px 2px 2px #BEBEBE;
}

.login-email-links {
	clear: both;
	overflow: auto;
	margin-top: 2px;
}

.login-senha-links {
	float: left;
	clear: both;
}

.login-email-links li,
.login-email-links a{display:inline;float:left;}
.login-email-links a{margin-right:10px;}

.register-info {
	float: right;
	padding-left: 50px;
	width: 460px;
}

#wrapVantegens div {
	width: 165px;
	height: 90px;
	float: left;
	padding-left: 60px;
	margin-bottom: 5px;
}

#wrapVantegens div h3 {
	font-size: 12px;
	margin-top: 6px;
}

#site_seguro {
	margin: 0 5px 5px 0;
	background: url('/arquivos/sprite_legado.png') no-repeat 7px -88px #fff;
}

#acompanhe_a_compra {
	margin-bottom: 140px;
	background: url('/arquivos/sprite_legado.png') no-repeat -3px -170px #fff;
}

#formas_de_pagamento {
	margin-right: 5px;
	background: url('/arquivos/sprite_legado.png') no-repeat -277px -95px #fff;
}

#reembolso_total {
	background: url('/arquivos/sprite_legado.png') no-repeat -277px -173px #fff;
}

.register-info strong{display:block;margin:20px 0 10px;}
.register-info .vantagens{list-style:disc outside none;margin-left:13px;}
.register-info .vantagens li{margin-bottom:4px;}

.minha-conta .outras-opcoes ul{margin-top:8px;}
.minha-conta .outras-opcoes a{background:none;clear:both;color:#000;display:block;font-size: 12px!important;float:left;text-decoration:underline!important;line-height:16px;}


/* ------- */
/* Sign Up */
/* ------- */
.cadastro-cliente .areaAvisos label{display:block;float:none;margin-top:6px;width:auto;}

.cadastro-cliente .frmTipoPessoa label,
.cadastro-cliente label.sexo-m,
.cadastro-cliente label.sexo-f{width:auto;margin-right:26px;}

input.cep-prefixo{width:100px;}
.cep-sufixo, .fNumero input {
	width: 70px!important;
}

.cadastro-cliente .email,
.alterar-email input,
.esqueci-senha .email input,
.grp.fSenha input,
.grp.fSenhaConf input{width:185px;}

#ctl00_Conteudo_txtCpfCnpj {
	width: 192px;
}

/* ------------ */
/* Change Email */
/* ------------ */
.alterar-email .fipassword{width:92px;}

/* --------------- */
/* Edit My Account */
/* --------------- */
.permission-sel,
.nao-altera em{display:none;}

.dia,
.mes{width:20px;}
.ano{width:40px;}

.minha-conta span.fSexo label{float:none;margin:0 20px 0 6px;width:auto;}
.minha-conta .ficheckbox{float:left;margin-top:4px;}
.minha-conta legend{display:none;}

.minha-conta .recuperar-senha legend {
	display: block;
}

/* ------------------------ */
/* My Account and My Orders */
/* ------------------------ */

.minha-conta .nav ul{margin-bottom:16px;margin-left:10px;}

.minha-conta .abas {
	border-bottom: 1px solid #9F9F9F;
	left: 0;
	padding-bottom: 4px;
	position: absolute;
	top: 10px;
	width: 100%;
}

.minha-conta #banner_destques, .login #banner_destques {
	margin-top: 5px;
}

.minha-conta .mainContentWrapper {
	position: relative;
	font-size: 12px;
	margin-left: 7px!important;
}

.minha-conta .abas li {
	float: left;
	margin-right: 5px;
}

.minha-conta .abas li.meu-perfil {
	border-right: solid 1px;
	padding-right: 5px;
}

.minha-conta .abas a{display:block;font-size:15px;padding:3px 9px;}
.minha-conta .abas  a{text-decoration:none;}
.minha-conta .abas  a:hover, .minha-conta .abas .ativo a{ background:url('/arquivos/btn_orange.jpg');}

.minha-conta .nav h3 {
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	color: #DB6500;
	border-bottom: dotted 2px #9F9F9F;
	margin-bottom: 20px;
	padding: 15px 0 5px;
}

.minha-conta .breadcrumb,
.minha-conta .area-3-2-1{display:none;}

.minha-conta .area-3-2, 
.minha-conta .content, 
.meus-pedidos .content {
	float: left;
	margin-left: 7px;
}

.manutencao-conta .mainContentWrapper .content {
	padding: 0;
	background: none;
}

.minha-conta .nav {
	float: left;
	padding-top: 0;
	width: 166px;
	background: #fff;
	padding: 10px;
}

.minha-conta.meus-pedidos .abas {
	margin: 0 20px;
	width: 930px;
}

.content.content-meuspedidos {
	padding: 0;
	background: none;
}

.minha-conta.meus-pedidos .content .tabela-pedidos > h3 {
	margin-left: 200px;
	width: 720px;
}

.minha-conta.meus-pedidos .nav {
	margin-top: -55px;
	background: #fff;
	padding: 10px;
}

.minha-conta.meus-pedidos .nav h3 {
	margin-top: 0;
	padding-top: 0;
}

#orderInfoProductList {
	margin-left: 20px;
	float: left;
	width: 715px;
}

.meus-pedidos .filtrar {
	float: left;
	width: 700px;
	margin: 20px 0 0 20px;
}

.minha-conta.meus-pedidos label {
	width: 150px;
}

.minha-conta.meus-pedidos select {
	width: 273px;
}

.minha-conta.meus-pedidos input[type="text"] {
	width: 263px;
}

.minha-conta.meus-pedidos input.data {
	width: 100px;
	text-align: center;
}

.minha-conta.meus-pedidos .ok {
	position: relative;
	left: 331px;
	width: 93px;
	float: left;
}

.meus-dados h4,
.filtrar legend{font-weight:700;}

.minha-conta .dados{overflow:hidden;}
.minha-conta .dados dt,
.minha-conta .dados dd{float:left;}
.minha-conta .dados dt{clear:left;width:130px;}


.minha-conta h3 a{text-decoration:none;}

.minha-conta .area-3-2-5 dt{font-weight:700;margin:15px 0 2px;}

.minha-conta .comentario-produto a{text-decoration:underline;}
.minha-conta .comentario-produto li{margin:3px 0;}

.area-3-1 {
	float: left;
	margin-top: 20px;
}

.area-3-2 {
	width: 730px;
}

.area-3-2-2 {
	position: absolute;
	top: 0;
	left: 20px;
	width: 930px;
}

.area-3-2-3 {
	margin-top: 15px;
}

.area-3-2-3 > h3 {
	display: none;
}

.minha-conta .bt {
	font-size: 18px;
	background: url('/arquivos/btn_orange.jpg');
	min-width: 92px;
	width: auto;
	border: none;
	line-height: 2;
	color: white;
	text-align: center;
	padding: 0 15px;
	text-decoration: none!important;
}

li.listas {
	display: none;
}


/* --------- */
/* My Orders */
/* --------- */

.meus-pedidos .filtrar {
	margin-top: 30px;
	float: right;
}

#orderInfoProductList th {
	background: #fff;
}

#orderInfoProductList .pedido {
	text-align: center;
}

#orderInfoProductList,
#orderInfoProductList th,
#orderInfoProductList td{border:1px solid #666;}

#orderInfoProductList th,
#orderInfoProductList td{padding:5px;}

#orderInfoProductList th{font-weight:700;text-align:center;}

#orderInfoProductList .links{text-align:center;}
#orderInfoProductList a{text-decoration:underline;}

#orderInfoProductList a.detalhes {
	background: url('/arquivos/btn_orange.jpg');
	padding: 0 10px;
	text-decoration: none;
}

/*******//*MDETALHES DO PEDIDO*/ /********/

.meus-pedidos-detalhes #ctl00_BuscaTxt_Top_txtBuscaTop_btnOK {
	width:30px;
	height:33px;
	background:none;
	border:none;
	cursor:pointer;
	text-indent:-99999px;
	position:relative;
	top:-2px;
	left:-32px;
}

.meus-pedidos-detalhes .content h2 {
	font-weight: 700;
	padding: 15px 0 5px;
	border-bottom: dotted 2px #9F9F9F;
	color: #DB6500;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 185px;
	width: 735px;
}

.meus-pedidos-detalhes #sideBar {
	float:left;
	margin-top:47px;
	width:172px;
	background:#FFF;
	min-height:403px;
	padding:0 10px 10px;
}

.meus-pedidos-detalhes #content {
	padding-top: 47px;
	float: left;
	width: 735px;
}

.meus-pedidos-detalhes .content {
	padding: 0;
	background: none;
	width: 735px;
}

.meus-pedidos-detalhes #sideBar h2 {
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	color: #DB6500;
	border-bottom: dotted 2px #9F9F9F;
	margin-bottom: 20px;
	padding: 15px 0 5px;
	display:block;
}

.meus-pedidos-detalhes #sideBar ul {
	padding-left:5px;
}

.meus-pedidos-detalhes .area-3-2-3 h3 {
	display:block!important;
	text-transform:capitalize;
	font-size:22px;
	color:#000;
}

.meus-pedidos-detalhes .informacoes-entrega {
	float:left;
}

.meus-pedidos-detalhes .informacoes-entrega .pedido-numero {
	background: #f07b00;
	text-align: center;
	width: 285px;
	padding: 10px 0;
}

.meus-pedidos-detalhes .informacoes-entrega .pedido-numero strong {
	color:#FFF;
	font-size:14px;
	display:block;
}

.meus-pedidos-detalhes .informacoes-entrega .pedido-numero span {
	color:#FFF;
	font-size:30px;
	display:block;
	line-height: 1;
}

.meus-pedidos-detalhes .dados-entrega {
	background:none repeat scroll 0 0 #E8E8E8;
	float:left;
	width:265px;
	margin:10px 0;
	padding:10px;
}

.meus-pedidos-detalhes .dados-entrega dt {
	float:left;
	color:#696969;
	clear:both;
	margin-right:5px;
}

.meus-pedidos-detalhes .dados-entrega dd {
	float:left;
	color:#000;
}

.meus-pedidos-detalhes .dados-entrega .pedido-status {
	margin-top:3px;
}

.meus-pedidos-detalhes .dados-entrega #ctl00_Conteudo_rptCompraEntrega_ctl00_lnkCompraEntregaStatusLogTop {
	background:#d8d8d8;
	color:#000;
	font-family:"Trebuchet MS",Verdana,Geneva,sans-serif;
	font-size:11px;
	float:left;
	font-weight:700;
	padding:3px;
}

.meus-pedidos-detalhes .descricao-entrega strong {
	color:#333;
}

.meus-pedidos-detalhes .box-dados-pedido {
	float: right;
	width: 400px;
	margin: 0 30px 0 0;
}

.meus-pedidos-detalhes .endereco-entrega {
font-size:14px;
}

.meus-pedidos-detalhes .endereco-entrega dt,.meus-pedidos-detalhes .endereco-entrega dd {
	margin-top:10px;
}

.meus-pedidos-detalhes .endereco-entrega dt {
	clear:both;
	float:left;
	width:160px;
	color:#696969;
}

.meus-pedidos-detalhes .endereco-entrega dd {
	float:left;
	color:#000;
	font-weight:700;
}

.meus-pedidos-detalhes .box-dados-pedido .descricao-entrega {
	clear:both;
}

.meus-pedidos-detalhes table.descricao-compra {
	clear:both;
	background:#f2f2f2;
	width:100%;
	border-collapse:collapse;
	text-align:center;
	font-size:13px;
}

.meus-pedidos-detalhes table.descricao-compra thead {
	font-size:14px;
	color:#696969;
	background:#FFF;
}

.meus-pedidos-detalhes table.descricao-compra thead th,
.meus-pedidos-detalhes table.descricao-compra thead tr {
	border-top:1px solid #bcbcbc;
	text-align:center;
	font-weight:400;
	padding:0 5px;
}

.meus-pedidos-detalhes table.descricao-compra .descricao-produto {
	text-align:left;
}

.meus-pedidos-detalhes table.descricao-compra tbody th,
.meus-pedidos-detalhes table.descricao-compra tbody td {
	background:#f2f2f2;
	border-top:1px solid #bcbcbc;
	text-align:center;
	font-weight:400;
	padding:0 5px;
}

.meus-pedidos-detalhes tfoot {
	background:#FFF;
	border-top:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
}

.meus-pedidos-detalhes tfoot .subtotal,
.meus-pedidos-detalhes tfoot .frete,
.meus-pedidos-detalhes tfoot .valor-total {
	text-align:right;
}

.meus-pedidos-detalhes tfoot .subtotal {
	padding-right:99px;
	font-weight:400;
}

.meus-pedidos-detalhes tfoot .frete {
	padding-right:116px;
	font-weight:400;
}

.meus-pedidos-detalhes tfoot .valor-total {
	padding-right:81px;
}

.meus-pedidos-detalhes tfoot .valor-total,.meus-pedidos-detalhes tfoot .valor {
	font-weight:700;
}

.meus-pedidos-detalhes table.descricao-compra tfoot th,
.meus-pedidos-detalhes table.descricao-compra tfoot td,
.meus-pedidos-detalhes table.descricao-compra tbody th,
.meus-pedidos-detalhes table.descricao-compra tbody td {
	padding-top:5px;
	padding-bottom:5px;
}

.meus-pedidos-detalhes #ctl00_TopBar_TopBar2_outerHeader #ctl00_TopBar_TopBar2_lnkHome,
.meus-pedidos-detalhes #ctl00_TopBar_TopBar2_pnlTopBarAssincrono,
.meus-pedidos-detalhes .informacoes-entrega .pedido-data,
.meus-pedidos-detalhes .dados-entrega .numero-entrega,
.meus-pedidos-detalhes .box-dados-pedido h3,
.meus-pedidos-detalhes .endereco-entrega h4,
.meus-pedidos-detalhes .box-dados-pagamento,
.meus-pedidos-detalhes div.voltar a {
	display:none;
}

.meus-pedidos-detalhes #sideBar ul li,
.meus-pedidos-detalhes #sideBar ul li a {
	color:#000;
	font-size:13px;
	margin:5px 0;
}

.meus-pedidos-detalhes #sideBar ul li a:hover,
.meus-pedidos-detalhes #ctl00_Conteudo_controleDadosPagamento_fieldsetDadosPagamento a {
	text-decoration:underline;
}

.meus-pedidos-detalhes .descricao-entrega,
.meus-pedidos-detalhes #ctl00_Conteudo_controleDadosPagamento_fieldsetDadosPagamento {
	background:none repeat scroll 0 0 #E8E8E8;
	float:left;
	width:265px;
	clear:both;
	margin:0 0 10px;
	padding:10px;
}

.meus-pedidos-detalhes .descricao-entrega h4,
.meus-pedidos-detalhes .descricao-entrega p,
.meus-pedidos-detalhes #ctl00_Conteudo_controleDadosPagamento_fieldsetDadosPagamento strong,
.meus-pedidos-detalhes table.descricao-compra tbody,
.meus-pedidos-detalhes tfoot {
	color:#000;
}

/*********TRACKING************/

.minha-conta.minha-conta-meus-pedidos.meus-pedidos.rastrear-pedido .content {
	padding: 0;
	background: none;
}

.rastrear-pedido .lista-informacoes-entrega {
	background: #f07b00;
	text-align: center;
	width: 285px;
	padding: 10px 0;
	margin: 0 auto;
}

.rastrear-pedido .lista-informacoes-entrega strong {
	color: #FFF;
	font-size: 14px;
	display: block;
}

.rastrear-pedido .lista-informacoes-entrega span {
	color: #FFF;
	font-size: 30px;
	display: block;
	line-height: 1;
}

.rastrear-pedido .lista-informacoes-entrega .pedido-data strong, 
.rastrear-pedido .lista-informacoes-entrega .pedido-data span {
	font-size: 10px!important;
}

.rastrear-pedido h3 {
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	color: #DB6500;
	border-bottom: dotted 2px #9F9F9F;
	margin-bottom: 20px;
	padding: 15px 0 5px;
	display: block;
}

.endereco-entrega.tracking {
	font-size: 14px;
	margin-bottom: 25px;
}

.rastrear-pedido h4 {
	font-weight: bold;
	color: #DB6500;
	margin-bottom: 10px;
}

.rastrear-pedido dt {
	float: left;
	margin-right: 5px;
	padding: 2px;
}

.rastrear-pedido dd {
	padding: 2px;
}

/* ---------------- */
/* Shipping Address */
/* ---------------- */
#ctl00_Conteudo_divTitulo{display:none;}
.endereco-compra .select-address a {
	float: left;
	min-width: 0;
	text-decoration: none;
}
.endereco address{clear:both;padding-top:8px;}
.address-list > li {
	float: left;
	margin: 0 10px 30px;
	padding: 10px;
	width: 145px;
	border-right: dotted 1px #9F9F9F;
}

/* ------------- */
/* Shipping Page */
/* ------------- */
.tipoPagamento li{margin-top:15px;}
.tipoPagamento br{margin-top:8px;}
.tipoPagamento input{float:left;margin:2px 4px 0 0;}

/* ------------ */
/* Payment Page */
/* ------------ */
.valor-compra {
	margin-bottom: 40px;
	background: #fff;
	border: solid 5px #fff;
	font-weight: bold;
}

.valor-compra th{padding-right:20px;}
.valor-compra td{text-align:right;}
.valor-compra .valor-total th, 
.valor-compra .valor-total td {
	font-weight: 700;
	background: #ebebeb;
	color: #c72e2e;
}

.lista-formas-pagamento{margin-bottom:15px;overflow:hidden;}
.lista-formas-pagamento li{float:left;margin-right:30px;}
.lista-formas-pagamento label{cursor:pointer;}
.lista-formas-pagamento img{margin-left:4px;vertical-align:middle;}
.lista-formas-pagamento strong{display:block;}

.selec-cartoes legend{display:none;}
.credit-card-info fieldset{margin:2px 0;}

.formapagamento-descricao em{margin-right:10px;}

.boleto-wrapper{margin-bottom:20px;}

/* ----------------------- */
/* Order Confirmation Page */
/* ----------------------- */

.dados-entrega thead th {
	font-size: 16px;
	font-weight: bold;
}

.dados-entrega th, .dados-entrega td {
	padding: 5px;
	vertical-align: top;
	font-size: 12px;
}

table.dados-produto {
	width: 100%;
}

.dados-produto, 
.dados-produto td, 
.dados-produto th {
	font-size: 14px;
}

.dados-produto th, 
.dados-produto td {
	padding: 5px;
	border: solid 1px #aeaeae;
	text-align:center;
}


.dados-produto{margin:20px 0;}
.cadastrar-novo a{display:inline;float:none;}

.dados-produto thead th {
	font-weight: bold;
	font-size: 14px;
	background: #fcfcfc;
}
/* ------------ */
/* Success Page */
/* ------------ */
.success p{margin:10px 0;}
.order-number br{display:none;}
.order-number strong{font-size:14px;}

/* ---- */
/* CART */
/* ---- */

#banner_destques {
	margin-bottom: -7px;
	margin-left: -4px;
}

.content, .minha-conta 
.mainContentWrapper {
	width: 930px;
	margin: 0 auto;
	background: url(/arquivos/content_shadow.jpg) no-repeat bottom center #EFEFEF;
	padding: 20px;
	padding-bottom: 40px!important;
	float: left;
}

.mainContentWrapper #banner_destques{display:none;}

/* table of products - general elements */
.carrinho .content .bt{width:auto;}
.carrinhoTable {
	width: 100%;
	margin-bottom: 125px;
}

.carrinhoTable thead,
.carrinhoTable tbody{border:none;}

.carrinhoTable thead {
	background: url(/arquivos/bg_carrinho_top_table.png) repeat top center;
	color: black;
	font-size: 16px;
}

.carrinhoTable tbody td {
	border-top: none;
	padding: 10px;
}

.carrinhoTable th{text-align:center;}

.carrinhoTable th, .carrinhoTable td {
	padding: 10px 0px;
}

.carrinhoTable .produto {
	width: 353px!important;
}

.carrinhoTable .produto h4 {
	float: left;
	width: 305px;
}

.carrinhoTable .produto h4 a {
	font-weight: bold;
	font-size: 12px;
}

.carrinhoTable .servico {
	width: 1px;
	padding: 0;
}

.carrinhoTable .quantidade .boxQuantidade {
	text-align: center;
	border: none;
	box-shadow: inset 2px 2px 2px #BEBEBE;
	padding: 5px;
	width: 20px!important;
	font-size: 12px;
}

.carrinhoTable .quantidade {
	width: 81px;
}

.carrinhoTable .preco-unitario {
	width: 100px;
}

.carrinhoTable .preco-total {
	width: 110px;
}

.carrinho .excluir {
	text-align: center;
	width: 20px;
}

.carrinhoTable th {
	text-align: center!important;
}

.carrinhoTable tbody input{color:#3a3a38;}

.carrinho .sidebar{display:none;}

.carrinho legend {
	font-weight: 700;
	position: relative;
	left: -58px;
}

.carrinho legend {
    left:0;
}
.carrinho legend {
    *left: 0;    /* IE6 + 7, doesn't work in IE8/9 as IE7 */
}

.carrinho legend {
    left: 0\0/IE8+9; /* IE8 + 9 + IE10pp4  */
}
:root .carrinho legend { left:0 \0/IE9; }  /* IE9 + IE10pp4 */



.carrinho .grp label {
	display: none;
}

.texto-vale-presente {
	position: relative;
}

.carrinhoTable tfoot {
	position: relative;
	font-size: 16px;
}

.carrinho .grp input {
	position: absolute;
	top: 5px;
	z-index:1000;
	text-align:center;
}

tfoot td.vale-presente {
	position: relative;
}

tfoot td.vale-presente span {
	position: relative;
	right: -40px;
}

fieldset.vale-presente, .carrinho fieldset.cep {
	position: relative;
	text-align: right;
	padding-right: 60px;
}

.carrinho .grp input.vale-presente {
	right: -125px;
	padding: 5px;
	width: 168px;
	top: -6px;
	border: none;
	box-shadow: inset 2px 2px 2px #BEBEBE;
}

.carrinho .grp .ok-carrinho input.fisubmit {
	right: -220px;
	background: url(/arquivos/bg_small_buttons.png);
	border: none;
	padding: 5px;
	top: -6px;
	box-shadow: 2px 2px 2px #9F9F9F;
	font-weight: bold;
	line-height: 1;
}

.msgValCEP {
	display: none;
}

tr.cepline td {
	position: relative;
	text-align: right;
}

tr.cepline td input.cep-prefixo {
	right: -47px;
	padding: 5px;
	box-shadow: inset 2px 2px 2px #BEBEBE;
	border: none;
	top: -5px;
	width: 90px;
}

tr.cepline td .cep-sufixo {
	right: -125px;
	padding: 5px;
	border: none;
	box-shadow: inset 2px 2px 2px #BEBEBE;
	top: -5px;
	width: 65px!important;
}

tfoot .total {
	position: relative;
}

tfoot .total .valor-total {
	position: relative;
}

tfoot .total .valor-total span.valorTotal {
	position: relative;
	right: -36px;
	font-size: 16px;
}

.freteTotal {
	position: relative;
	left: 14px;
}

.frete-gratis {
    font-size: 12px;
}

tfoot .total .valor {
	font-size: 24px;
	color: #F07F00;
}

/* table of products - specific elements */
.carrinho tfoot td.preco-total {
	text-align: right;
	font-size: 20px;
	padding-right: 5px;
}

.carrinhoTable tfoot tr {
	border-top: solid 1px #9F9F9F;
}

.carrinhoTable tfoot td {
	padding: 10px 0;
	text-align: right;
}

.valor-parcelado {
	display: none;
}

.carrinho td.preco-unitario {
	color: #333;
	font-size: 18px;
}

.carrinho td.preco-unitario, .carrinho tbody td.preco-total {
	text-align: center;
	font-size: 18px;
}

.carrinho td.preco-unitario s{color:#666;font-weight:normal;}

.carrinhoTable .produto a{float:left;margin-right:12px;}
.carrinhoTable .produto img{display:block;}

.carrinhoTable .quantidade fieldset {
	position: relative;
}

.carrinhoTable .quantidade .controle-quantidade {
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
}

.carrinhoTable .excluir a {
	width: 15px;
	height: 15px;
	display: block;
	background: url('/arquivos/sprite_legado.png') no-repeat -249px -122px;
	text-indent: -99999px;
	padding: 0;
	margin: 0;
}

.carrinhoTable .quantidade .controle-quantidade li a {
	width: 15px;
	height: 15px;
	background: url('/arquivos/sprite_legado.png');
	text-indent: -99999px;
	display: block;
}

.carrinhoTable .quantidade .controle-quantidade li.adicionar-item a {
	background-position: -230px -122px;
}

.carrinhoTable .quantidade .controle-quantidade li.remove-item a {
	background-position: -230px -138px;
}

.carrinhoTable .txtSubTotal {
	padding-left: 414px;
	text-align: right;
	position: relative;
}

.carrinhoTable .txtSubTotal span.subtotaltxt {
	position: relative;
	right: -40px;
}

.carrinhoTable .quantidade {
	text-align: center;
	position: relative;
}
.carrinhoTable .preco-unitario,
.carrinhoTable tbody .preco-total,
.carrinho .frete-gratis,
.carrinho .valor{text-align:right;width:110px;padding-right: 5px;}
.carrinhoTable .excluir a{font-size:10px;text-decoration:underline;}

.carrinho .total,
.carrinho .valor-parcelado{font-size:12px;font-weight:700;}

.carrinho div.valor-parcelado{position:absolute;margin-left:408px;width:300px;}

.carrinho .excluir {
	text-align: center;
	width: 1px;
	padding: 0 5px 0 0;
}

.carrinho label.cep-prefixo{display:none;}

.dica-carrinho{padding-top:20px;}

/* table of products - button links */
.carrinho .bts{margin:20px 0;overflow:hidden;}

.carrinho .bts.top {
	margin: 5px 0;
	width: 950px;
	margin-left: -10px;
	border-bottom: dotted 2px #9F9F9F;
	padding-bottom: 10px;
}

.carrinho .content .bts li a{display:block;}
.carrinho .continuar-comprando{float:left;}
.carrinho .finalizar-compra {
	float: right;
	margin-right: 0;
}

.carrinho .content .finalizar-compra a {
	background: url('/arquivos/sprite_legado.png') no-repeat 0 0;
	width: 264px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -99999px;
}

.carrinho .content .continuar-comprando a {
	background: url('/arquivos/sprite_legado.png') no-repeat -270px -3px;
	width: 229px;
	height: 45px;
	padding: 0;
	border: none;
	text-indent: -99999px;
}

#content_shadow {
	width: 970px;
	height: 16px;
	margin-bottom: 25px;
	background: url(/arquivos/shadow_content.png) no-repeat top center;
}

#ctl00_Conteudo_pnlDica {
	width: 730px;
	margin: 0 auto;
	padding: 10px;
	background: white;
	text-transform: uppercase;
	border: solid 1px #949494;
}

.alerta {
    width: 730px;
    margin: 0 auto;
    padding: 10px;
    background: white;
    text-transform: uppercase;
    border: solid 1px #949494;
    position: absolute;
    bottom: 204px;
    left:117px;
    color:#ff0000;
}

#bandeirasCarrinho {
	width: 588px;
	height: 114px;
	background: url(/arquivos/bandeiras_carrinho.jpg) no-repeat top center;
	position: absolute;
	left: 30px;
}

/* CHECKOUT */

.login .content, .checkout .content {
	margin-bottom: 20px;
}

.header-steps h1 a {
	height: 97px;
	width: 137px;
	background: url(/arquivos/logo_sun_house.png) no-repeat top center;
	display: block;
	text-indent: -99999px;
	float: left;
	margin: 10px;
}

.cadastro-cliente .content #banner_destques {
	display: none;
}

#mainContent {
	padding: 0;
	background: none;
}

#ctl00_TopBar_ComercioTopBar_pnlTopBarAssincrono {
	display: none;
}

.checkout .bts a, .checkout .bts input{
	display: block!important;
	font-size: 16px;
	text-decoration: none!important;
	text-align: center;
}

.checkout .bts .voltar a {
    text-transform: capitalize;
    width: 75px !important;
}

.checkout .bts .continuar input {
    padding: 5px 0;
    width: 135px !important;
}

/*PAGAMENTO*/
.dados-pagamento {
	border-bottom: dotted 2px #9F9F9F;
	margin-bottom: 20px;
	font-size: 16px;
}

table.valor-compra td, table.valor-compra th {
	padding: 5px;
}

.dados-pagamento .wrapper .valor-compra .valor-total {
	background:#fff;
}

.pagamento .tit strong {
	color: #f18300;
	font-size:16px;
}

.lista-formas-pagamento {
	background: #fff;
	padding: 15px;
}

.credit-card-info {
	padding: 15px;
}

.credit-card-info fieldset label, 
.opc-parcelamento legend {
	width: 300px;
	float: left;
	font-size: 14px;
}

.credit-card-info fieldset label em,
.credit-card-info fieldset label a {
	font-size: 10px;
}

.credit-card-info fieldset select {
	width: 65px;
}

.credit-card-info .opc-parcelamento select {
	width: 360px;
}

/*Confirmacao*/

.confirmacao-compra .dados-pagamento {
	border:none;
}

.confirmar-pedido.top {
	display:none;
}

.confirmar-pedido {
	text-align: right;
}

#ctl00_Conteudo_DadosPagamento_divEnderecoCobranca {
	position: relative;
}

.cadastrar-novo .bt {
	display: block;
	width: 150px;
	float: left;
	position: absolute;
	top: 0;
	right: 200px;
}

.cadastrar-novo .bt {
	display:block;
	width:150px;
	float:left;
}

/* _____ finaliza compra _____*/
.finaliza-compra h2 {font-size: 24px;color: #f18200;}
.finaliza-compra .bottomSearchWrapper{display:none;}
.finaliza-compra .content{float: left;padding:20px;color:#333333;margin: 0 0 30px 7px;text-align:center;}
.finaliza-compra #ctl00_TopBar_TopBar1_lnkHome{display:none;}
.finaliza-compra .content h2{display:block !important;}
.finaliza-compra .order-number{background: #f07b00;color: #FFFFFF;padding: 20px;text-align: center;width: 280px;margin: 0 auto;}
.finaliza-compra .order-number span{font-size:18px;}
.finaliza-compra .order-number strong {
    clear: both;
    display: block;
    font-size: 30px;
    line-height: 1;
}
.finaliza-compra #PrazoEntrega, .finaliza-compra .warning, .finaliza-compra #ctl00_Conteudo_pTextoFinalizacao{color:#f07b00;font-size: 14px;}
.finaliza-compra #ctl00_TopBar_TopBar1_outerHeader #ctl00_BuscaTxt_Top_ctrBuscaTxt_txtBusca{display:inline !important;}
.finaliza-compra .mainContentWrapper #ctl00_BuscaTxt_Top_ctrBuscaTxt_txtBusca{display:none;}

.finaliza-compra p.continuar-comprando {
	margin-left: 350px;
	width: 229px;
	height: 45px;
	float: left;
}

.content .continuar-comprando a {
	width: 229px;
	height: 45px;
	background: url('/arquivos/btn_continuar__comprando.png') no-repeat top center;
	padding: 0;
	display: block;
	margin: 0;
	line-height: 0;
	font-size: 0;
	text-indent: -99999px;
}

#TB_iframeContent {
	width: 500px;
	height: 300px;
	margin-top: -90px;
}